<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div>
            <a href="/logoff">Log Off</a>
            <h1>Welcome <%= data.first_name %>!</h1>
            <p>First Name: <%= data.first_name %></p>
            <p>Last Name: <%= data.last_name %></p>
            <p>Email Address: <%= data.email %></p>
        </div>
    </body>
</html>