* {
    padding: 0;
    margin: 0;
}
.message {
    border: none;
    box-shadow: none;
}
    .error {
        color: red;
    }
    .success {
        color: #34c65c;
    }
div {
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;
    width: 400px;
    margin: 40px;
    padding: 30px;
    border: 2px solid black;
    position: relative;
    box-shadow: 5px 5px 10px black;
    position: relative;
}
    label {
        display: block;
        margin: 10px 0 10px;
    }
    input[type=text], input[type=password] {
        position: relative;
        position: absolute;
        left: 180px;
        padding: 3px;
        width: 200px;
    }
    input[type=submit] {
        padding: 5px 15px;
        margin: 10px 280px 10px;
        color: white;
        background-color: #1877f2;
    }
    #register {
        background-color: #34c65c;
    }
    p {
        margin: 10px 0 10px;
    }
    a {
        position: absolute;
        top: 40px;
        right: 30px;
    }